
[data-theme="dark"] {
    --color-dark: rgb(10, 10, 18);
    --color-semidark: rgb(34, 36, 44);
    --color-grey: rgb(59, 55, 59);
    --color-light: #fafaff;
    --color-semilight: #959596;
    --color-blue: #3498db;
    --color-purple: #cb89f6;
    --color-green: #2ecc71;
    --color-error: #e74c3c;
    --shadow-opacity: 0.5;
}

[data-theme="light"] {
    --color-dark: #fff;
    --color-semidark: #f2f2f2;
    --color-grey: #ccc;
    --color-light: #111;
    --color-semilight: #777;
    --color-blue: #2563eb;
    --color-purple: #9333ea;
    --color-green: #16933a;
    --color-error: #dc2626;
    --shadow-opacity: 0.1;
}

* {
	box-sizing: inherit;
}

html {
	font-family: system-ui, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.1rem;
	height: 100%;
	box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    border: 2px solid black;
	width: 20rem;
    min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background: var(--color-dark);
	color: var(--color-light);
	padding: 0px;
	font-feature-settings: "liga" 0;
	font-weight: 300;
}

a, summary {
	color: var(--color-blue);
    text-decoration: none;
    cursor: pointer;
}

img {
    display: none;
}
img[src] {
    display: block;
}

h2 {
    margin-left: 0.5rem;
}

p, ul {
    margin-left: 1rem;
}

a:visited {
	color: var(--color-purple);
}
a:hover, summary:hover {
    text-decoration: underline;
}

hr {
   border: 1px solid var(--color-grey);
}


main {
    padding: 0 1em;
    margin-bottom: 1em;
}


input, textarea {
    font-size: 1em;
    background: var(--color-semidark);
    color: var(--color-light);
    padding: 0.4em;
    margin-bottom: 0.4em;
    border: 2px solid var(--color-grey);
    border-radius: 0.4em;
}

input[type=submit], button {
    font-size: 1em;
    background: var(--color-semidark);
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
    border-radius: 0.2em;
    padding: 0.4em 0.8em;
	font-weight: 600;
}

textarea {
    min-height: 5em;
}

textarea:focus, input:focus{
    outline: none;
}


code {
    background-color: var(--color-grey);
    padding: 0 0.2em;
}

kbd {
    background-color: var(--color-grey);
    border: 1px solid var(--color-semilight);
    border-radius: 0.3em;
    padding: 0.3em 0.7em;
    margin: 0 0.2em;
    font-family: monospace;
    font-size: 0.85em;
    white-space: nowrap;
    box-shadow: 0 2px 0 var(--color-semidark);
}

table {
    border-collapse: collapse;
    width: 100%;
    td, th {
        padding: 0.5em;
        border: 1px solid var(--color-grey);
        text-align: center;
    }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.mt-1 {
    margin-top: 1em;
}

.text-center {
    text-align: center;
}
